@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/RobotoCondensed-Regular.eot?") format("eot"),
  url("../assets/fonts/RobotoCondensed-Regular.woff") format("woff"),
  url("../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"),
  url("../assets/fonts/RobotoCondensed-Regular.svg") format("svg");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../assets/fonts/RobotoCondensed-Bold.eot?") format("eot"),
  url("../assets/fonts/RobotoCondensed-Bold.woff") format("woff"),
  url("../assets/fonts/RobotoCondensed-Bold.ttf") format("truetype"),
  url("../assets/fonts/RobotoCondensed-Bold.svg") format("svg");
}